@font-face {
  font-family: "netflixFont";
  src: url("../BebasNeue.woff") format("woff");
}
body {
  margin: 0;
}
#container {
  width: 100%;
  background-color: rgb(179, 231, 231);
  background-image: url("../images/bg.jpg");
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#boardContainer {
  min-width: 560px;
  width: 50vw;
  height: 100vh;
}
#board {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  position: relative; /**td의 부모속성*/
  background-color: rgb(235, 212, 170);
}

td {
  padding: 0;
  line-height: 0;
}
td img {
  display: block;
  width: 100%;
  height: inherit;
  object-fit: contain;
}
td.playerBoardUnit {
  border: 1px solid black;
  width: 6.4vh;
  height: 6.4vh;
  box-sizing: border-box;
}
td.obstacleBoardUnit {
  border: 1px solid red;
  width: 2.5vh;
  height: 2.5vh;
  box-sizing: border-box;
}
.obstacleInfo {
  width: 74.2vh;
  height: 11vh;
  border: 0px solid blue;
  box-sizing: border-box;
  margin: auto;

  /** 플렉서블 박스  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.obstacleInfo img {
  display: block;
  border: 1px solid rgb(119, 34, 34);
  margin: auto;
  box-sizing: border-box;
}
.obsVertical {
  width: 2.3vh;
  height: 10vh;
}
.obsHorizontal {
  width: 9vh;
  height: 2.3vh;
}
@keyframes bgFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bgAnimationBeforeStart,
.bgAnimation {
  background: linear-gradient(137deg, #058db6, #ffffff, #14c47b);
  background-size: 400% 400%;
  animation: bgFlow 3s ease infinite;
}
.bgAnimation {
  background: linear-gradient(137deg, #b93939, #ffffff);
  background-size: 400% 400%;
  animation: bgFlow 3s ease infinite;
}
.playerInfo {
  font-family: "netflixFont";
  display: inline;
  box-sizing: border-box;
  margin: auto;
  font-size: 3em;
  text-align: center;
  border: 3px solid rgb(161, 97, 12);
  width: auto;
  width: 20vw;
  height: 100vh;
}
.playerInfo img {
  width: 15vw;
  margin: auto;
  object-fit: contain;
  vertical-align: middle;
}

.imgPlayer,
.imgObstacle {
  cursor: pointer;
}
