#board {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative; /**td의 부모속성*/
}
.imgPlayer,
.imgObstacle {
  cursor: pointer;
}

td {
  padding: 0;
  line-height: 0;
}
td img {
  display: block;
  width: 100%;
  height: inherit;
  object-fit: contain;
}
td.playerBoardUnit {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
td.obstacleBoardUnit {
  border: 1px solid red;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
td.obstacleBoardUnit img {
  position: absolute;
}
.obstacleInfo {
  width: 611px;
  height: 150px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin: auto;
  /** 플렉서블 박스  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.obstacleInfo img {
  border: 1px solid brown;
  margin: auto;
  box-sizing: border-box;
}
.playerInfo {
  width: 611px;
  box-sizing: border-box;
  margin: auto;
  font-size: 2em;
  text-align: center;
}
.playerInfo img {
  width: 30px;
  margin: auto;
  height: inherit;
  object-fit: contain;
  vertical-align: middle;
}
